@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

:root{
    --p1roxo: #69648C;
    --p1branco: #EBEBF2;
    --p1marromMedio: #BF6D4E;
    --p1marromFraco: #BFAAA3;
    --p1marromForte: #A66556;

    --p2vinho: #733949;
    --p2marrom: #592D1D;
    --p2branco: #F2F2F0;
    --p2cinza:#666A73;
    --p2cinzaSuave: #D7D7D9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: var(--fundopadrao);
}

header{
    width: 100vw;
    position: absolute;
}
header img{
    width: 100vw;
    
    z-index: 1;
}
header div{
    z-index: 2;
    background-color: #BFAAA3;
    position: relative;
    top: -100%;
}

#logo{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid #837d70;
    display: block;
    padding: 3px;
} 
#logo:hover{
    border: 1px solid black;
}

header h1{
    margin-top: 0px;
    padding: 10px;
    font-size: 2.7em;
    color: var(--corFonte1);
    font-family: var(--fonteDestaque);
}
header p{
    padding-bottom: 20px;
    margin-bottom: 0px;
    font-size: 1.2em;
    color: var(--fonteTextoAzul);
}

main{
    width: 70vw;
    max-width: 690px;
    min-width: 350px;
    margin: auto;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.301);
    background-color: white;
    
    
}

.produto{
    width: 250px;
    height: 300px;
    display: inline-block;
    background-color: #ffedc9;
    border: 2px solid #f99c00;
    border-radius: 10px;
    padding: 10px;
    
    margin-left: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 0.8em;
}
.produto img{
    width: 180px;
    height: 180px;
    border: 2px solid #ffd276;
    border-radius: 200px;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.produto p{
    margin: 4px;
    color: #f97300;
    font-weight: bold;
}

footer{
    background-color: #011f4b;
    
}
footer p{
    margin-bottom: 0px;
    margin-top: 30px;
    color: white;
    text-align: center;
    font-size: 0.8em;
}
