@media screen and (min-width: 700px){

    main div{
        width: 70%;
    }

}

@media screen and (min-width: 900px){

    main div{
        width: 50%;
    }

}

@media screen and (min-width: 280px){
    main div{
        width: 95%;
    }
    main img {
        width: 200px;
    }
}