@media screen and (min-width: 700px){

    main div{
        width: 70%;
    }

}

@media screen and (min-width: 900px){

    main div{
        width: 50%;
    }

}

@media screen and (max-width: 360px){
    main div{
        width: 90%;
    }
}