@charset "UTF-8";

:root{
    --fundopadrao: antiquewhite;
}

body{
    background: url("../imagem/brancoKarolina.jpg");
    background-size: 120vw;
    background-repeat: no-repeat;
    background-position:center;
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

main{
    text-align: center;
    width: 400px;
    max-width: 400px;
    min-width: 290px;
    height: 100vh;
    margin: auto;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background: url("../imagem/velaDominika.jpg");
    background-size: 100%;
}

#logo{
    width: 100px;
    border-radius: 100px;
    margin-top: 20%;
    border: 5px solid white;
}
#logo:hover{
    border: 5px solid bisque;
}

#botaolink{
    margin-top: 40%;
    width: 300px;
    padding: 5px;
    border: 1px solid 	#189ad3;
    background-color: 	#71c7ec;
    border-radius: 5px;
}

#botaolink:hover{
    background-color: #189ad3;
    color: white;
}

main p{
    font-size: 0.3em;
    margin-top: 220px;
    text-align: left;
}
main p a{
    text-decoration: none;
    color: darkblue;
}