@charset "UTF-8";

:root{
    --p1roxo: #69648C;
    --p1branco: #EBEBF2;
    --p1marromMedio: #BF6D4E;
    --p1marromFraco: #BFAAA3;
    --p1marromForte: #A66556;

    --p2vinho: #733949;
    --p2marrom: #592D1D;
    --p2branco: #F2F2F0;
    --p2cinza:#666A73;
    --p2cinzaSuave: #D7D7D9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: var(--p2vinho);
    
    
}

main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    height: 100vh;
    padding: 20px;
    
    margin: auto;
}
main div{
    background-color: var(--p1marromFraco);
    height: 70vh;
    width: 90%;
    border-radius: 20px;
    border: 2px solid var(--p1marromMedio);
    box-shadow: inset 5px 5px 15px var(--p1marromForte),
                inset -5px -5px 15px var(--p1marromForte),
                3px 3px 10px var(--p2marrom),
                -3px -3px 10px var(--p2marrom);
}

main img{
    height: 70%;
    margin: 0;
}

#botaolink{
    cursor: pointer;
    width: 70%;
    padding: 7px;
    border: 1px solid 	var(--p1marromMedio);
    background-color: 	var(--p1marromForte);
    border-radius: 7px;
    color: var(--p1branco);
    transition: 1s;
}

#botaolink:hover{
    background-color: var(--p1marromMedio);
    color: white;
}
